In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.array([[1, 2], [3, 4]])) #Dataframe is the collection of series

In [3]:
df

   0  1
0  1  2
1  3  4

In [4]:
s1 = pd.Series([1, 2])
s2 = pd.Series([3, 4])

#Dataframe: using series
df = pd.DataFrame([s1, s2])

df

   0  1
0  1  2
1  3  4

In [5]:
#DataFrame: using Dcitionary

df = pd.DataFrame({0:[10, 20], 1:[21, 22]}, index = ['a', 'b']) #In pandas, keys are column labels
df

    0   1
a  10  21
b  20  22

In [6]:
#DataFrame: using arange, Series and Dictionary

s3 = pd.Series(np.arange(1, 6, 1))
s4 = pd.Series(np.arange(6, 11, 1))

df = pd.DataFrame({'a':s3, 'b':s4})

df

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [7]:
s5 = pd.Series(np.arange(12, 14, 1), index = [1, 2])

In [8]:
df = pd.DataFrame({'a':s3, 'b':s4, 'c':s5})
df

   a   b     c
0  1   6   NaN
1  2   7  12.0
2  3   8  13.0
3  4   9   NaN
4  5  10   NaN

In [9]:
#Dictionary: using List
df = pd.DataFrame([[10, 11], [21, 22]])
df

    0   1
0  10  11
1  21  22

In [10]:
#Changing the cloumn labels and indexes
df = pd.DataFrame([[10, 11], [21, 22]], index=['R1', 'R2'], columns = ['a', 'b'])
df

     a   b
R1  10  11
R2  21  22

In [11]:
df.index = ['r1', 'r2'] #change the rows name(indexes)

In [12]:
df

     a   b
r1  10  11
r2  21  22

In [13]:
df.columns = ['c1', 'c2']
df

    c1  c2
r1  10  11
r2  21  22

In [14]:
df.shape

(2, 2)

In [15]:
df.columns

Index(['c1', 'c2'], dtype='object')

In [16]:
df.index

Index(['r1', 'r2'], dtype='object')

In [17]:
df.values

array([[10, 11],
       [21, 22]])

# How to extract data from Daraframe

In [18]:
#using columns
df['c1']

r1    10
r2    21
Name: c1, dtype: int64

In [19]:
df[['c1', 'c2']]

    c1  c2
r1  10  11
r2  21  22

In [21]:
#using rows(use colon)
df[:'r1']

    c1  c2
r1  10  11

In [22]:
df['r1': 'r2']

    c1  c2
r1  10  11
r2  21  22

In [23]:
#We can use the assigned and default indexes for data extraction

In [24]:
df[:1]

    c1  c2
r1  10  11

In [25]:
#using iloc method (df.iloc[row index, column index])

In [26]:
df.iloc[1]

c1    21
c2    22
Name: r2, dtype: int64

In [27]:
df

    c1  c2
r1  10  11
r2  21  22

In [28]:
df.iloc[0, 1]

11

In [29]:
df.iloc[[0, 1], [1]]

    c2
r1  11
r2  22

In [30]:
df.iloc[0, 1, 1] #error

IndexingError: Too many indexers