In [1]:
# Bismillah

In [2]:
import numpy as np
import pandas as pd
import datetime as dt
# from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('precision', 7)
from pandas_datareader import data as web

In [3]:
msft = web.DataReader('MSFT', 'yahoo', '2012-01-01', '2013-12-30')
msft.head()


# collects the data from yahoo finance for Microsoft for the said period and stores it in data frame, msft.

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2012-01-03,26.9599991,26.3899994,26.5499992,26.7700005,64731500.0,21.6231346
2012-01-04,27.4699993,26.7800007,26.8199997,27.3999996,80516100.0,22.1320057
2012-01-05,27.7299995,27.2900009,27.3799992,27.6800003,56081400.0,22.3581791
2012-01-06,28.1900005,27.5300007,27.5300007,28.1100006,99455500.0,22.7055016
2012-01-09,28.1000004,27.7199993,28.0499992,27.7399998,59706800.0,22.4066353

### Shifting and lagging time-series data:

In [6]:
msftAC = msft['Adj Close']
msftAC

# select only 'Adj Close' column from the msft data frame, and store it in a series, msftAC.

Date
2012-01-03    21.6231346
2012-01-04    22.1320057
2012-01-05    22.3581791
2012-01-06    22.7055016
2012-01-09    22.4066353
                 ...
2013-12-23    31.3362293
2013-12-24    31.7298679
2013-12-26    32.0379295
2013-12-27    31.9095726
2013-12-30    31.9095726
Name: Adj Close, Length: 501, dtype: float64

In [7]:
type(msftAC)

# msftAC is a series. We can convert it to a data frame by typing: msftAC = msft[['Adj Close']]

pandas.core.series.Series

In [8]:
shift_forward = msftAC.shift(1)
msftAC, shift_forward
# This will shift the prices one day forward.
# results in one NaN value at the start since there was no value prior to be shifted to 2012-01-03.
# the number of NaN values will depend on the number of indices we are shifting forward or backward. For instance, the index is 
# daily dates, so if we shift one day forward, it means we are forwarding one index resulting into one NaN value. If we would 
# shift 2 days forward, it means we are forwarding two indices resulting into two NaN values.

(Date
 2012-01-03    21.6231346
 2012-01-04    22.1320057
 2012-01-05    22.3581791
 2012-01-06    22.7055016
 2012-01-09    22.4066353
                  ...
 2013-12-23    31.3362293
 2013-12-24    31.7298679
 2013-12-26    32.0379295
 2013-12-27    31.9095726
 2013-12-30    31.9095726
 Name: Adj Close, Length: 501, dtype: float64,
 Date
 2012-01-03           NaN
 2012-01-04    21.6231346
 2012-01-05    22.1320057
 2012-01-06    22.3581791
 2012-01-09    22.7055016
                  ...
 2013-12-23    31.4902630
 2013-12-24    31.3362293
 2013-12-26    31.7298679
 2013-12-27    32.0379295
 2013-12-30    31.9095726
 Name: Adj Close, Length: 501, dtype: float64)

In [9]:
msftAC.tail(), shift_forward.tail()
# the last price 31.9755402 on date 2013-12-30 in msftAC has been lost away in shift_forward since there is no index available for
# it now after the prices have been shifted one day forward. So, we got one NaN value at the start and one value lost at the end
# by shifting one day forward.

(Date
 2013-12-23    31.3362293
 2013-12-24    31.7298679
 2013-12-26    32.0379295
 2013-12-27    31.9095726
 2013-12-30    31.9095726
 Name: Adj Close, dtype: float64,
 Date
 2013-12-23    31.4902630
 2013-12-24    31.3362293
 2013-12-26    31.7298679
 2013-12-27    32.0379295
 2013-12-30    31.9095726
 Name: Adj Close, dtype: float64)

In [10]:
shift_backward = msftAC.shift(-2)
# will shift two days (two indices) backward.

In [11]:
msftAC, shift_backward
# inserts two NaNs at the end since we have shifted two days (two indices) backward and the first two values lost since there are 
# no indices available for them.

(Date
 2012-01-03    21.6231346
 2012-01-04    22.1320057
 2012-01-05    22.3581791
 2012-01-06    22.7055016
 2012-01-09    22.4066353
                  ...
 2013-12-23    31.3362293
 2013-12-24    31.7298679
 2013-12-26    32.0379295
 2013-12-27    31.9095726
 2013-12-30    31.9095726
 Name: Adj Close, Length: 501, dtype: float64,
 Date
 2012-01-03    22.3581791
 2012-01-04    22.7055016
 2012-01-05    22.4066353
 2012-01-06    22.4874134
 2012-01-09    22.3904839
                  ...
 2013-12-23    32.0379295
 2013-12-24    31.9095726
 2013-12-26    31.9095726
 2013-12-27           NaN
 2013-12-30           NaN
 Name: Adj Close, Length: 501, dtype: float64)

In [12]:
shift_1sec = msftAC.shift(1, freq = 'S')

In [13]:
msftAC, shift_1sec
# the prices have been shifted just one second forward each day. That means that the prices still exist on the same date. So, no
# value is lost and no NaN is inserted.
# the frequency could be changed to any desirable level such as hour etc.
# Note that the index labels have been adjusted according to the specified frequency resulting into a new dataframe or series in 
# this case.

(Date
 2012-01-03    21.6231346
 2012-01-04    22.1320057
 2012-01-05    22.3581791
 2012-01-06    22.7055016
 2012-01-09    22.4066353
                  ...
 2013-12-23    31.3362293
 2013-12-24    31.7298679
 2013-12-26    32.0379295
 2013-12-27    31.9095726
 2013-12-30    31.9095726
 Name: Adj Close, Length: 501, dtype: float64,
 Date
 2012-01-03 00:00:01    21.6231346
 2012-01-04 00:00:01    22.1320057
 2012-01-05 00:00:01    22.3581791
 2012-01-06 00:00:01    22.7055016
 2012-01-09 00:00:01    22.4066353
                           ...
 2013-12-23 00:00:01    31.3362293
 2013-12-24 00:00:01    31.7298679
 2013-12-26 00:00:01    32.0379295
 2013-12-27 00:00:01    31.9095726
 2013-12-30 00:00:01    31.9095726
 Name: Adj Close, Length: 501, dtype: float64)

In [14]:
shift_1sec['2012-01-03':'2012-01-06']
# note that the indices now include the time as well in addition to the date.

Date
2012-01-03 00:00:01    21.6231346
2012-01-04 00:00:01    22.1320057
2012-01-05 00:00:01    22.3581791
2012-01-06 00:00:01    22.7055016
Name: Adj Close, dtype: float64

### Practical Example:

In [17]:
msftAC, msftAC.shift(1)
# the prices have been shifted one day forward.

(Date
 2012-01-03    21.6231346
 2012-01-04    22.1320057
 2012-01-05    22.3581791
 2012-01-06    22.7055016
 2012-01-09    22.4066353
                  ...
 2013-12-23    31.3362293
 2013-12-24    31.7298679
 2013-12-26    32.0379295
 2013-12-27    31.9095726
 2013-12-30    31.9095726
 Name: Adj Close, Length: 501, dtype: float64,
 Date
 2012-01-03           NaN
 2012-01-04    21.6231346
 2012-01-05    22.1320057
 2012-01-06    22.3581791
 2012-01-09    22.7055016
                  ...
 2013-12-23    31.4902630
 2013-12-24    31.3362293
 2013-12-26    31.7298679
 2013-12-27    32.0379295
 2013-12-30    31.9095726
 Name: Adj Close, Length: 501, dtype: float64)

In [18]:
msftAC / msftAC.shift(1)
# the dividsion is based on the same index labels. That is, the price on 2012-01-04 in msftAC is divided the price on 2012-01-04 in
# msftAC.shift(1). This is equal t`o (current price divided by previous price). The previous price is the amount invested.

# Interpretation: the $1 invested has grown to $1.0235337. So, the net return is $1.0235337 - 1 = $0.0235337. That is why we need
# to subtract 1 as shown below.
# the first value is NaN because value is missing in msftAC.shift(1) on 2012-01-03.
# the last value is 1.00000 because in both msftAC and msftAC.shift(1) the value on 2013-12-30 is the same.

# Very important to note that we CANNOT say that $1 investment at the start (2012-01-03) has grown to (or in this case 
# has remained same) to $1 at the end of the period (2013-12-30) since we can see that the adj close price at the start
# is $21.62 and at the end is $31.90. So, there is definately a gain. But then why we have 1 at the end of the output of
# this cell? It is because these returns are computed on daily basis. So, this 1 shows that $1 dollar invested on 2013-12
#-27 has remained same $1 and it makes sense since the price has remained unchanged from 2013-12-27 to 2013-12-30. To find
# the total return, we need to find the cumulative product.

Date
2012-01-03          NaN
2012-01-04    1.0235336
2012-01-05    1.0102193
2012-01-06    1.0155345
2012-01-09    0.9868373
                ...
2013-12-23    0.9951085
2013-12-24    1.0125618
2013-12-26    1.0097089
2013-12-27    0.9959936
2013-12-30    1.0000000
Name: Adj Close, Length: 501, dtype: float64

In [19]:
np.cumprod(msftAC / msftAC.shift(1))

# just for the confirmation of the above.

Date
2012-01-03          NaN
2012-01-04    1.0235336
2012-01-05    1.0339934
2012-01-06    1.0500560
2012-01-09    1.0362344
                ...
2013-12-23    1.4491992
2013-12-24    1.4674037
2013-12-26    1.4816506
2013-12-27    1.4757145
2013-12-30    1.4757145
Name: Adj Close, Length: 501, dtype: float64

In [20]:
31.9095650 / 21.6231346

# just for the confirmation above

1.4757141177856794

In [21]:
percent_change = msftAC / msftAC.shift(1) - 1
percent_change
# gives the net daily change or return.
# the price has increased by 2.3% from 2012-01-03 to 2012-01-04.

Date
2012-01-03          NaN
2012-01-04    0.0235336
2012-01-05    0.0102193
2012-01-06    0.0155345
2012-01-09   -0.0131627
                ...
2013-12-23   -0.0048915
2013-12-24    0.0125618
2013-12-26    0.0097089
2013-12-27   -0.0040064
2013-12-30    0.0000000
Name: Adj Close, Length: 501, dtype: float64

### Frequency Conversion of Time-Series Data:

In [22]:
sample = msftAC[:2]
sample
# selected first 2 rows and stored them in 'sample'

Date
2012-01-03    21.6231346
2012-01-04    22.1320057
Name: Adj Close, dtype: float64

In [23]:
sample.asfreq('H')
# to have hourly data between the two index labels.
# a new index with hourly index labels has been created by pandas, but when aligning to the original time series, only two values
# were found, thereby leaving the others filled with NaN. This default behaviour can be changed as follows:

Date
2012-01-03 00:00:00    21.6231346
2012-01-03 01:00:00           NaN
2012-01-03 02:00:00           NaN
2012-01-03 03:00:00           NaN
2012-01-03 04:00:00           NaN
2012-01-03 05:00:00           NaN
2012-01-03 06:00:00           NaN
2012-01-03 07:00:00           NaN
2012-01-03 08:00:00           NaN
2012-01-03 09:00:00           NaN
2012-01-03 10:00:00           NaN
2012-01-03 11:00:00           NaN
2012-01-03 12:00:00           NaN
2012-01-03 13:00:00           NaN
2012-01-03 14:00:00           NaN
2012-01-03 15:00:00           NaN
2012-01-03 16:00:00           NaN
2012-01-03 17:00:00           NaN
2012-01-03 18:00:00           NaN
2012-01-03 19:00:00           NaN
2012-01-03 20:00:00           NaN
2012-01-03 21:00:00           NaN
2012-01-03 22:00:00           NaN
2012-01-03 23:00:00           NaN
2012-01-04 00:00:00    22.1320057
Freq: H, Name: Adj Close, dtype: float64

In [24]:
sample.asfreq('H', method = 'ffill')
# forward fill will take the earlier known value and fill all the missing values with it.

Date
2012-01-03 00:00:00    21.6231346
2012-01-03 01:00:00    21.6231346
2012-01-03 02:00:00    21.6231346
2012-01-03 03:00:00    21.6231346
2012-01-03 04:00:00    21.6231346
2012-01-03 05:00:00    21.6231346
2012-01-03 06:00:00    21.6231346
2012-01-03 07:00:00    21.6231346
2012-01-03 08:00:00    21.6231346
2012-01-03 09:00:00    21.6231346
2012-01-03 10:00:00    21.6231346
2012-01-03 11:00:00    21.6231346
2012-01-03 12:00:00    21.6231346
2012-01-03 13:00:00    21.6231346
2012-01-03 14:00:00    21.6231346
2012-01-03 15:00:00    21.6231346
2012-01-03 16:00:00    21.6231346
2012-01-03 17:00:00    21.6231346
2012-01-03 18:00:00    21.6231346
2012-01-03 19:00:00    21.6231346
2012-01-03 20:00:00    21.6231346
2012-01-03 21:00:00    21.6231346
2012-01-03 22:00:00    21.6231346
2012-01-03 23:00:00    21.6231346
2012-01-04 00:00:00    22.1320057
Freq: H, Name: Adj Close, dtype: float64

In [25]:
sample.asfreq('H', method = 'bfill')
# backward fill will take the next known value and fill the missing values in the backward direction.

Date
2012-01-03 00:00:00    21.6231346
2012-01-03 01:00:00    22.1320057
2012-01-03 02:00:00    22.1320057
2012-01-03 03:00:00    22.1320057
2012-01-03 04:00:00    22.1320057
2012-01-03 05:00:00    22.1320057
2012-01-03 06:00:00    22.1320057
2012-01-03 07:00:00    22.1320057
2012-01-03 08:00:00    22.1320057
2012-01-03 09:00:00    22.1320057
2012-01-03 10:00:00    22.1320057
2012-01-03 11:00:00    22.1320057
2012-01-03 12:00:00    22.1320057
2012-01-03 13:00:00    22.1320057
2012-01-03 14:00:00    22.1320057
2012-01-03 15:00:00    22.1320057
2012-01-03 16:00:00    22.1320057
2012-01-03 17:00:00    22.1320057
2012-01-03 18:00:00    22.1320057
2012-01-03 19:00:00    22.1320057
2012-01-03 20:00:00    22.1320057
2012-01-03 21:00:00    22.1320057
2012-01-03 22:00:00    22.1320057
2012-01-03 23:00:00    22.1320057
2012-01-04 00:00:00    22.1320057
Freq: H, Name: Adj Close, dtype: float64

### Resampling of time-series:

In [33]:
msftAC / msftAC.shift()
# I haven't confirmed it but i think the default argument for shift is 1 which means to shift prices forward by one day.

Date
2012-01-03          NaN
2012-01-04    1.0235336
2012-01-05    1.0102193
2012-01-06    1.0155345
2012-01-09    0.9868373
                ...
2013-12-23    0.9951085
2013-12-24    1.0125618
2013-12-26    1.0097089
2013-12-27    0.9959936
2013-12-30    1.0000000
Name: Adj Close, Length: 501, dtype: float64

In [34]:
(1 + (msftAC / msftAC.shift() - 1))
# this and immediately above seems to produce the same result. Plus1 and minus1 cancels out so the result is the same as immediately above.

Date
2012-01-03          NaN
2012-01-04    1.0235336
2012-01-05    1.0102193
2012-01-06    1.0155345
2012-01-09    0.9868373
                ...
2013-12-23    0.9951085
2013-12-24    1.0125618
2013-12-26    1.0097089
2013-12-27    0.9959936
2013-12-30    1.0000000
Name: Adj Close, Length: 501, dtype: float64

In [35]:
msft_cum_ret = (1 + (msftAC / msftAC.shift() - 1)).cumprod()
msft_cum_ret
# cumprod stands for cummulative product.
# it multiplies the value on 2012-01-04 with the value on 2012-01-05 and produces the product in the index label 2012-01-05. This product 
# can be called cumulative daily return.
# $1 dollar invested on 2012-01-03 has grown to $1.475 on 2013-12-30.

Date
2012-01-03          NaN
2012-01-04    1.0235336
2012-01-05    1.0339934
2012-01-06    1.0500560
2012-01-09    1.0362344
                ...
2013-12-23    1.4491992
2013-12-24    1.4674037
2013-12-26    1.4816506
2013-12-27    1.4757145
2013-12-30    1.4757145
Name: Adj Close, Length: 501, dtype: float64

In [36]:
msft_cum_ret['1/1/2012':'1/31/2012']
# note that typing the date in this pattern is the same as typing 2012-01-04 and so on.
# this gives us daily cumulative returns for all the month as explained above.

Date
2012-01-03          NaN
2012-01-04    1.0235336
2012-01-05    1.0339934
2012-01-06    1.0500560
2012-01-09    1.0362344
2012-01-10    1.0399701
2012-01-11    1.0354874
2012-01-12    1.0459469
2012-01-13    1.0552859
2012-01-17    1.0556593
2012-01-18    1.0545386
2012-01-19    1.0504296
2012-01-20    1.1098242
2012-01-23    1.1105717
2012-01-24    1.0960030
2012-01-25    1.1042211
2012-01-26    1.1019798
2012-01-27    1.0918937
2012-01-30    1.1060890
2012-01-31    1.1031004
Name: Adj Close, dtype: float64

In [38]:
msft_cum_ret['1/1/2012':'1/31/2012'].mean()
# mean cumulative return of January 2012. It is a mean of all the daily cumulative returns in January.
# to calculate each month mean cumulative return, we have to write this command 24 times for all 24 months.

1.0686746480066573

In [46]:
msft_cum_ret['1/2012'].mean()
# an alternative to the above method to compute monthly mean.

1.0686746480066573

In [48]:
(msftAC/msftAC.shift()).mean() # mean of daily returns.

1.0008829545168116

In [49]:
msft_cum_ret

Date
2012-01-03          NaN
2012-01-04    1.0235336
2012-01-05    1.0339934
2012-01-06    1.0500560
2012-01-09    1.0362344
                ...
2013-12-23    1.4491992
2013-12-24    1.4674037
2013-12-26    1.4816506
2013-12-27    1.4757145
2013-12-30    1.4757145
Name: Adj Close, Length: 501, dtype: float64

In [58]:
msft_monthly_cum_ret = msft_cum_ret.resample("M")
msft_monthly_cum_ret.size()
# a better and efficient alternative to the above two methods to compute monthly means.
# does not return a dataframe any longer but an object stored at some location in memory. Nevermind, all the aggregation and interpolation
# can still be validly performed as shown below.

Date
2012-01-31    20
2012-02-29    20
2012-03-31    22
2012-04-30    20
2012-05-31    22
2012-06-30    21
2012-07-31    21
2012-08-31    23
2012-09-30    19
2012-10-31    21
2012-11-30    21
2012-12-31    20
2013-01-31    21
2013-02-28    19
2013-03-31    20
2013-04-30    22
2013-05-31    22
2013-06-30    20
2013-07-31    22
2013-08-31    22
2013-09-30    20
2013-10-31    23
2013-11-30    20
2013-12-31    20
Freq: M, Name: Adj Close, dtype: int64

In [65]:
def print_info(groupobject):
    for i, k in groupobject:
        print(i)
        print(k)

In [66]:
print_info(msft_monthly_cum_ret)
# the daily cumulative returns have been grouped by month. In total, we will have 24 groups since we have 24 months.

2012-01-31 00:00:00
Date
2012-01-03          NaN
2012-01-04    1.0235336
2012-01-05    1.0339934
2012-01-06    1.0500560
2012-01-09    1.0362344
2012-01-10    1.0399701
2012-01-11    1.0354874
2012-01-12    1.0459469
2012-01-13    1.0552859
2012-01-17    1.0556593
2012-01-18    1.0545386
2012-01-19    1.0504296
2012-01-20    1.1098242
2012-01-23    1.1105717
2012-01-24    1.0960030
2012-01-25    1.1042211
2012-01-26    1.1019798
2012-01-27    1.0918937
2012-01-30    1.1060890
2012-01-31    1.1031004
Name: Adj Close, dtype: float64
2012-02-29 00:00:00
Date
2012-02-01    1.1165483
2012-02-02    1.1187897
2012-02-03    1.1296229
2012-02-06    1.1281284
2012-02-07    1.1337320
2012-02-08    1.1453120
2012-02-09    1.1494209
2012-02-10    1.1393350
2012-02-13    1.1423236
2012-02-14    1.1374353
2012-02-15    1.1299155
2012-02-16    1.1765406
2012-02-17    1.1750367
2012-02-21    1.1821809
2012-02-22    1.1757886
2012-02-23    1.1795487
2012-02-24    1.1836849
2012-02-27    1.1787965
2012-02-28    1.1983494
2012-02-29    1.1934610
Name: Adj Close, dtype: float64
2012-03-31 00:00:00
Date
2012-03-01    1.2141419
2012-03-02    1.2062458
2012-03-05    1.1957170
2012-03-06    1.1866926
2012-03-07    1.1972211
2012-03-08    1.2036134
2012-03-09    1.2028614
2012-03-12    1.2047415
2012-03-13    1.2284302
2012-03-14    1.2321906
2012-03-15    1.2351985
2012-03-16    1.2257978
2012-03-19    1.2107574
2012-03-20    1.2028614
2012-03-21    1.1998536
2012-03-22    1.2032374
2012-03-23    1.2036134
2012-03-26    1.2254223
2012-03-27    1.2227900
2012-03-28    1.2103818
2012-03-29    1.2077498
2012-03-30    1.2130138
Name: Adj Close, dtype: float64
2012-04-30 00:00:00
Date
2012-04-02    1.2141419
2012-04-03    1.2009811
2012-04-04    1.1735326
2012-04-05    1.1851887
2012-04-09    1.1693964
2012-04-10    1.1457075
2012-04-11    1.1411957
2012-04-12    1.1648839
2012-04-13    1.1584921
2012-04-16    1.1686442
2012-04-17    1.1821809
2012-04-18    1.1709005
2012-04-19    1.1660123
2012-04-20    1.2190300
2012-04-23    1.2077498
2012-04-24    1.2002293
2012-04-25    1.2107574
2012-04-26    1.2073735
2012-04-27    1.2024854
2012-04-30    1.2039894
Name: Adj Close, dtype: float64
2012-05-31 00:00:00
Date
2012-05-01    1.2036134
2012-05-02    1.1957170
2012-05-03    1.1942131
2012-05-04    1.1648839
2012-05-07    1.1524757
2012-05-08    1.1468357
2012-05-09    1.1566119
2012-05-10    1.1558602
2012-05-11    1.1716521
2012-05-14    1.1536039
2012-05-15    1.1433851
2012-05-16    1.1316521
2012-05-17    1.1248394
2012-05-18    1.1078081
2012-05-21    1.1259747
2012-05-22    1.1263536
2012-05-23    1.1017524
2012-05-24    1.1002383
2012-05-25    1.0998598
2012-05-29    1.1187838
2012-05-30    1.1104574
2012-05-31    1.1047801
Name: Adj Close, dtype: float64
2012-06-30 00:00:00
Date
2012-06-01    1.0767727
2012-06-04    1.0805573
2012-06-05    1.0790436
2012-06-06    1.1108358
2012-06-07    1.1062942
2012-06-08    1.1221902
2012-06-11    1.0938042
2012-06-12    1.1085646
2012-06-13    1.1025092
2012-06-14    1.1104574
2012-06-15    1.1361938
2012-06-18    1.1293812
2012-06-19    1.1619306
2012-06-20    1.1706356
2012-06-21    1.1407354
2012-06-22    1.1619306
2012-06-25    1.1305167
2012-06-26    1.1361938
2012-06-27    1.1418712
2012-06-28    1.1320306
2012-06-29    1.1577670
Name: Adj Close, dtype: float64
2012-07-31 00:00:00
Date
2012-07-02    1.1566317
2012-07-03    1.1642011
2012-07-05    1.1619306
2012-07-06    1.1426281
2012-07-09    1.1354370
2012-07-10    1.1255965
2012-07-11    1.1089434
2012-07-12    1.0835852
2012-07-13    1.1123497
2012-07-16    1.1142420
2012-07-17    1.1225686
2012-07-18    1.1524686
2012-07-19    1.1607952
2012-07-20    1.1399788
2012-07-23    1.1081865
2012-07-24    1.1032662
2012-07-25    1.0911545
2012-07-26    1.1036444
2012-07-27    1.1263536
2012-07-30    1.1218115
2012-07-31    1.1153775
Name: Adj Close, dtype: float64
2012-08-31 00:00:00
Date
2012-08-01    1.1131068
2012-08-02    1.1047801
2012-08-03    1.1259747
2012-08-06    1.1335445
2012-08-07    1.1452771
2012-08-08    1.1479268
2012-08-09    1.1543608
2012-08-10    1.1513329
2012-08-13    1.1501976
2012-08-14    1.1479117
2012-08-15    1.1505784
2012-08-16    1.1726759
2012-08-17    1.1772475
2012-08-20    1.1711516
2012-08-21    1.1734375
2012-08-22    1.1635323
2012-08-23    1.1528644
2012-08-24    1.1642940
2012-08-27    1.1692468
2012-08-28    1.1669611
2012-08-29    1.1677228
2012-08-30    1.1551503
2012-08-31    1.1741998
Name: Adj Close, dtype: float64
2012-09-30 00:00:00
Date
2012-09-04    1.1578172
2012-09-05    1.1578172
2012-09-06    1.1943920
2012-09-07    1.1791525
2012-09-10    1.1703898
2012-09-11    1.1730568
2012-09-12    1.1726759
2012-09-13    1.1787714
2012-09-14    1.1890582
2012-09-17    1.1890582
2012-09-18    1.1879155
2012-09-19    1.1829623
2012-09-20    1.1982017
2012-09-21    1.1882963
2012-09-24    1.1726759
2012-09-25    1.1578172
2012-09-26    1.1494357
2012-09-27    1.1490549
2012-09-28    1.1338152
Name: Adj Close, dtype: float64
2012-10-31 00:00:00
Date
2012-10-01    1.1235287
2012-10-02    1.1300054
2012-10-03    1.1376250
2012-10-04    1.1441017
2012-10-05    1.1372442
2012-10-08    1.1345773
2012-10-09    1.1155279
2012-10-10    1.1040983
2012-10-11    1.1029554
2012-10-12    1.1124799
2012-10-15    1.1242902
2012-10-16    1.1235287
2012-10-17    1.1273383
2012-10-18    1.1239094
2012-10-19    1.0911448
2012-10-22    1.0667615
2012-10-23    1.0686664
2012-10-24    1.0629517
2012-10-25    1.0621896
2012-10-26    1.0747620
2012-10-31    1.0873350
Name: Adj Close, dtype: float64
2012-11-30 00:00:00
Date
2012-11-01    1.1246714
2012-11-02    1.1239094
2012-11-05    1.1288626
2012-11-06    1.1376250
2012-11-07    1.1079081
2012-11-08    1.0976218
2012-11-09    1.0983832
2012-11-12    1.0751430
2012-11-13    1.0405727
2012-11-14    1.0309699
2012-11-15    1.0240557
2012-11-16    1.0186784
2012-11-19    1.0267446
2012-11-20    1.0259763
2012-11-21    1.0351948
2012-11-23    1.0640038
2012-11-26    1.0520960
2012-11-27    1.0401887
2012-11-28    1.0509439
2012-11-29    1.0351948
2012-11-30    1.0225192
Name: Adj Close, dtype: float64
2012-12-31 00:00:00
Date
2012-12-03    1.0152211
2012-12-04    1.0129165
2012-12-05    1.0244401
2012-12-06    1.0267446
2012-12-07    1.0163732
2012-12-10    1.0348111
2012-12-11    1.0494074
2012-12-12    1.0463345
2012-12-13    1.0413409
2012-12-14    1.0298175
2012-12-17    1.0409570
2012-12-18    1.0586262
2012-12-19    1.0490232
2012-12-20    1.0632356
2012-12-21    1.0544009
2012-12-24    1.0394206
2012-12-26    1.0317381
2012-12-27    1.0355788
2012-12-28    1.0198305
2012-12-31    1.0259763
Name: Adj Close, dtype: float64
2013-01-31 00:00:00
Date
2013-01-02    1.0609311
2013-01-03    1.0467185
2013-01-04    1.0271285
2013-01-07    1.0252081
2013-01-08    1.0198305
2013-01-09    1.0255922
2013-01-10    1.0163732
2013-01-11    1.0305856
2013-01-14    1.0328903
2013-01-15    1.0451825
2013-01-16    1.0386522
2013-01-17    1.0467185
2013-01-18    1.0467185
2013-01-22    1.0428775
2013-01-23    1.0605468
2013-01-24    1.0613152
2013-01-25    1.0709179
2013-01-28    1.0720704
2013-01-29    1.0759115
2013-01-30    1.0697656
2013-01-31    1.0544009
Name: Adj Close, dtype: float64
2013-02-28 00:00:00
Date
2013-02-01    1.0728384
2013-02-04    1.0540168
2013-02-05    1.0563213
2013-02-06    1.0501757
2013-02-07    1.0478710
2013-02-08    1.0582422
2013-02-11    1.0701498
2013-02-12    1.0709179
2013-02-13    1.0766795
2013-02-14    1.0770639
2013-02-15    1.0759115
2013-02-19    1.0863684
2013-02-20    1.0793974
2013-02-21    1.0646800
2013-02-22    1.0751368
2013-02-25    1.0600323
2013-02-26    1.0600323
2013-02-27    1.0770734
2013-02-28    1.0766861
Name: Adj Close, dtype: float64
2013-03-31 00:00:00
Date
2013-03-01    1.0824956
2013-03-04    1.0902414
2013-03-05    1.0979875
2013-03-06    1.0879174
2013-03-07    1.0898543
2013-03-08    1.0844321
2013-03-11    1.0793974
2013-03-12    1.0809464
2013-03-13    1.0813336
2013-03-14    1.0898543
2013-03-15    1.0859814
2013-03-18    1.0883050
2013-03-19    1.0914035
2013-03-20    1.0968254
2013-03-21    1.0886924
2013-03-22    1.0941146
2013-03-25    1.0906288
2013-03-26    1.0906288
2013-03-27    1.0987619
2013-03-28    1.1080572
Name: Adj Close, dtype: float64
2013-04-30 00:00:00
Date
2013-04-01    1.1080572
2013-04-02    1.1154157
2013-04-03    1.1061205
2013-04-04    1.1076700
2013-04-05    1.1115429
2013-04-08    1.1072824
2013-04-09    1.1467870
2013-04-10    1.1727358
2013-04-11    1.1208380
2013-04-12    1.1150285
2013-04-15    1.1111556
2013-04-16    1.1219999
2013-04-17    1.1165777
2013-04-18    1.1150285
2013-04-19    1.1529836
2013-04-22    1.1940371
2013-04-23    1.1851293
2013-04-24    1.2300555
2013-04-25    1.2370273
2013-04-26    1.2312179
2013-04-29    1.2629760
2013-04-30    1.2819532
Name: Adj Close, dtype: float64
2013-05-31 00:00:00
Date
2013-05-01    1.2672364
2013-05-02    1.2842772
2013-05-03    1.2970583
2013-05-06    1.3071281
2013-05-07    1.2900868
2013-05-08    1.2776934
2013-05-09    1.2649124
2013-05-10    1.2660745
2013-05-13    1.2792426
2013-05-14    1.3077137
2013-05-15    1.3201941
2013-05-16    1.3291641
2013-05-17    1.3599752
2013-05-20    1.3681655
2013-05-21    1.3591954
2013-05-22    1.3498349
2013-05-23    1.3318945
2013-05-24    1.3365747
2013-05-28    1.3658257
2013-05-29    1.3603654
2013-05-30    1.3662149
2013-05-31    1.3611452
Name: Adj Close, dtype: float64
2013-06-30 00:00:00
Date
2013-06-03    1.3880566
2013-06-04    1.3646556
2013-06-05    1.3564651
2013-06-06    1.3634853
2013-06-07    1.3911765
2013-06-10    1.3833761
2013-06-11    1.3588046
2013-06-12    1.3650455
2013-06-13    1.3541249
2013-06-14    1.3416449
2013-06-17    1.3650455
2013-06-18    1.3642657
2013-06-19    1.3490550
2013-06-20    1.3061537
2013-06-21    1.2975733
2013-06-24    1.3151237
2013-06-25    1.3131733
2013-06-26    1.3396945
2013-06-27    1.3502249
2013-06-28    1.3471046
Name: Adj Close, dtype: float64
2013-07-31 00:00:00
Date
2013-07-01    1.3400845
2013-07-02    1.3237041
2013-07-03    1.3264342
2013-07-05    1.3342343
2013-07-08    1.3389146
2013-07-09    1.3396945
2013-07-10    1.3533451
2013-07-11    1.3919564
2013-07-12    1.3911765
2013-07-15    1.4106767
2013-07-16    1.4145766
2013-07-17    1.3939066
2013-07-18    1.3822059
2013-07-19    1.2246406
2013-07-22    1.2484315
2013-07-23    1.2410214
2013-07-24    1.2464811
2013-07-25    1.2242508
2013-07-26    1.2332210
2013-07-29    1.2301011
2013-07-30    1.2421911
2013-07-31    1.2418011
Name: Adj Close, dtype: float64
2013-08-31 00:00:00
Date
2013-08-01    1.2351710
2013-08-02    1.2437513
2013-08-05    1.2363413
2013-08-06    1.2316610
2013-08-07    1.2503816
2013-08-08    1.2827526
2013-08-09    1.2753427
2013-08-12    1.2819727
2013-08-13    1.2658694
2013-08-14    1.2705822
2013-08-15    1.2485878
2013-08-16    1.2489807
2013-08-19    1.2328773
2013-08-20    1.2419107
2013-08-21    1.2415183
2013-08-22    1.2721534
2013-08-23    1.3648451
2013-08-26    1.3412794
2013-08-27    1.3063236
2013-08-28    1.2968977
2013-08-29    1.3177142
2013-08-30    1.3118227
Name: Adj Close, dtype: float64
2013-09-30 00:00:00
Date
2013-09-03    1.2521229
2013-09-04    1.2254153
2013-09-05    1.2265929
2013-09-06    1.2234512
2013-09-09    1.2434820
2013-09-10    1.2721534
2013-09-11    1.2859005
2013-09-12    1.2839364
2013-09-13    1.2972902
2013-09-16    1.2882569
2013-09-17    1.2933627
2013-09-18    1.3086804
2013-09-19    1.3212486
2013-09-20    1.2878642
2013-09-23    1.2859005
2013-09-24    1.2745102
2013-09-25    1.2768668
2013-09-26    1.2870787
2013-09-27    1.3067168
2013-09-30    1.3071095
Name: Adj Close, dtype: float64
2013-10-31 00:00:00
Date
2013-10-01    1.3188921
2013-10-02    1.3322462
2013-10-03    1.3298895
2013-10-04    1.3306748
2013-10-07    1.3078953
2013-10-08    1.2965046
2013-10-09    1.2988616
2013-10-10    1.3259620
2013-10-11    1.3404941
2013-10-14    1.3530625
2013-10-15    1.3546332
2013-10-16    1.3605247
2013-10-17    1.3715221
2013-10-18    1.3730933
2013-10-21    1.3742716
2013-10-22    1.3581681
2013-10-23    1.3259620
2013-10-24    1.3243908
2013-10-25    1.4033362
2013-10-28    1.3970515
2013-10-29    1.3950877
2013-10-30    1.3958737
2013-10-31    1.3907675
Name: Adj Close, dtype: float64
2013-11-30 00:00:00
Date
2013-11-01    1.3954809
2013-11-04    1.4115839
2013-11-05    1.4390772
2013-11-06    1.4995620
2013-11-07    1.4728546
2013-11-08    1.4838523
2013-11-11    1.4763898
2013-11-12    1.4673558
2013-11-13    1.4987768
2013-11-14    1.4932781
2013-11-15    1.4862088
2013-11-18    1.4610718
2013-11-19    1.4539486
2013-11-20    1.4674037
2013-11-21    1.4800676
2013-11-22    1.4867947
2013-11-25    1.4895652
2013-11-26    1.4780890
2013-11-27    1.4879818
2013-11-29    1.5089564
Name: Adj Close, dtype: float64
2013-12-31 00:00:00
Date
2013-12-02    1.5216207
2013-12-03    1.5160795
2013-12-04    1.5410111
2013-12-05    1.5038116
2013-12-06    1.5180584
2013-12-09    1.5319091
2013-12-10    1.5081649
2013-12-11    1.4883779
2013-12-12    1.4729437
2013-12-13    1.4519699
2013-12-16    1.4598844
2013-12-17    1.4452421
2013-12-18    1.4476166
2013-12-19    1.4345573
2013-12-20    1.4563228
2013-12-23    1.4491992
2013-12-24    1.4674037
2013-12-26    1.4816506
2013-12-27    1.4757145
2013-12-30    1.4757145
Name: Adj Close, dtype: float64

In [67]:
len(msft_monthly_cum_ret)
# 24 groups confirmed.

24

In [68]:
msft_monthly_cum_ret.size()
# size of each group.

Date
2012-01-31    20
2012-02-29    20
2012-03-31    22
2012-04-30    20
2012-05-31    22
2012-06-30    21
2012-07-31    21
2012-08-31    23
2012-09-30    19
2012-10-31    21
2012-11-30    21
2012-12-31    20
2013-01-31    21
2013-02-28    19
2013-03-31    20
2013-04-30    22
2013-05-31    22
2013-06-30    20
2013-07-31    22
2013-08-31    22
2013-09-30    20
2013-10-31    23
2013-11-30    20
2013-12-31    20
Freq: M, Name: Adj Close, dtype: int64

In [39]:
msft_monthly_cum_ret.mean()

Date
2012-01-31    1.0686749
2012-02-29    1.1556977
2012-03-31    1.2105698
2012-04-30    1.1846438
2012-05-31    1.1405162
2012-06-30    1.1233438
2012-07-31    1.1262454
2012-08-31    1.1536296
2012-09-30    1.1727562
2012-10-31    1.1073822
2012-11-30    1.0648223
2012-12-31    1.0358098
2013-01-31    1.0462066
2013-02-28    1.0678735
2013-03-31    1.0898931
2013-04-30    1.1568920
2013-05-31    1.3204535
2013-06-30    1.3507127
2013-07-31    1.3124115
2013-08-31    1.2726701
2013-09-30    1.2773973
2013-10-31    1.3503987
2013-11-30    1.4719151
2013-12-31    1.4823629
Freq: M, Name: Adj Close, dtype: float64

In [ ]:
msft_cum_ret['2/2012'].mean()
# to compare and confirm the mean of feb in immediately above series. Confirmed and the same.

In [ ]:
## The above work is almost the end of page 94 in the book. After that, for about 3 pages, the discussion in the book cannot be
# implemented here since there is change in the newer version of pandas. But what we can do something extra and interesting follows
# as:

In [ ]:
msft

In [ ]:
msft_resample = msft.resample('M')
# the frequency has been changed to Monthly from Daily.

In [ ]:
msft_resample

In [ ]:
for i, k in msft_resample:
    print(i)
    print(k)
# the data has been grouped on monthly basis into 24 groups since we have 24 months.

In [ ]:
msft_resample.mean().head(3)
# mean of high, low, open, close, volume and adj close for each month.

In [ ]:
msft.loc['1/2012', 'Adj Close'].mean()
# confirmed that 'msft_resample.mean()' has produced mean of high, low, open, close, volume and adj close for each month.